// .episode {
//   width: 300px;
//   height: 300px;
//   float: left;
//   z-index: 9000;
  // display: flex;
  // justify-content: center;
  // .episode {
  //   position: relative;
  //   z-index: 9001;
  //   width:300px;
  //   height: 300px;
  // }
//   #play {
//     position: relative;
//     font-size: 200px;
//     left: 10%;
//     z-index: 9002;
//   }
// }

.ep-title {
  z-index: 9005;
  display: inline-block;
  align-self: flex-end;
  position: absolute;
  text-align: center;
  top: 260px;
  :first-child {
    font-family: 'Zilla Slab Highlight', sans-serif;
    color: black;
    font-weight: bold;
  }
  a {
    margin: 5px;
    text-decoration: none;
    display: block;
  }
  a:hover {
    cursor: pointer;
  }
  :last-child {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: thin;
    font-size: 13px;
  }
}

.episode-container {
  position: relative;
  width: 310px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9000;
  float: left;
  #playPause {
    position: absolute;
    font-size: 100px;
    top: 75px;
    left: 120px;
    z-index: 9002;
    visibility: hidden;
    color: #ff3d00;
    text-shadow: 3px 3px 0px white;
  }
  .episode {
    position: relative;
    align-self: baseline;
    width: 250px;
    height: 250px;
    top: 0px;
    left: 0px;
    z-index: 9001;
  }
}

.episode-container:hover #playPause {
  visibility: visible;
}
.episode-container:hover{
    .overlay {
      opacity: 3;
    }
    .episode {
      -webkit-filter: blur(4px);
      filter: blur(4px);
    }
    .enjoy {
      visibility: visible;
    }
}

.enjoy {
  font-family: "Lobster", sans-serif;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 22%;
  z-index: 9002;
  visibility: hidden;
  color: white;
  text-shadow: 3px 3px 0px black;
}

.ep-bold {
  font-family: 'Zilla Slab Highlight', sans-serif !important;
  color: black !important;
  font-weight: bold !important;
  font-size: 15px !important;
}

.epitem {
  position: absolute;
  bottom: 120px;
  z-index: 9010;
  button {
    cursor: pointer;
    background-color: #f50;
    border: none;
    border-radius: 5px;
    color: white;
    position: relative;
    margin-left: 10px;
  }
}
