.episode-banner-wrapper {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  .episode-image-container {
    width: 1240px;
    height: 300px;
    display: flex;
    position: relative;
    .episode-banner {
      width: 1240px;
      height: 400px;
    }
    .episode-logo {
      z-index: 100;
      width: 200px;
      height: 200px;
      position: absolute;
    }
  }
}
.comment-input {
  width: 99%;
  height: 25px;
  align-self: center;
}
