.user-image-container {
  width: 1240px;
  max-width: 100%;
  margin: 0 auto;
  height: 260px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;

  p {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgba(0,0,0,.8);
    padding: 4px 7px;
    font-size: 24px;
    left: 350px;
    top: 45%;
  }

  input[type='file'] {
    visibility: hidden;
    position: absolute;
  }

  .banner-image-wrapper:hover label {
    visibility:visible;
  }
  .avatar:hover label {
    visibility:visible;
  }

  // .avatar-upload-label {
  //   padding: 5px;
  //   position: absolute;
  //   background-color: #ccc;
  //   border-radius: 5px;
  //   font-family: 'Roboto', sans-serif;
  //   font-weight: 400;
  //   font-size: 15px;
  //   left: 10%;
  //   top: 10%;
  //   visibility: hidden;
  // }

   label {
    padding: 5px;
    position: absolute;
    background-color: #ccc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    visibility: hidden;
  }

  .banner-upload-label {
    right: 10%;
    top: 10%;
  }

  .avatar-upload-label {
    left: 22%;
    bottom: 5%;
  }


  label:hover, span:hover {
    cursor: pointer;
  }

}

.user-container {
  height: 100%;
  background-color: #f2f2f2;
}


.body {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  height: 100%;
  position: relative;
  margin-left: 0 auto;
  margin-right: auto;
  left: 0;
  right: 0;
  .track-container {
    width: 1240px;
    max-width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
  }
}
.user-body {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  height: 100%;
  position: absolute;
  margin-left: 0 auto;
  margin-right: auto;
  left: 0;
  right: 0;
  .user-track-container {
    width: 1240px;
    max-width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
  }
}

.avatar {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  right: 77%;
  top: 12%;
}

.user-banner {
  width: 1240px;
  max-width: 100%;
  height: 260px;
  margin: 0 auto;
}

.tabs {
  font-size: 24px;
  line-height: 1.6;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  margin: 30px;
  border-bottom: 1px solid lightgrey;
  :first-child {
    margin-right: 30px;
  }
}
.user-body{
a {
  text-decoration: none;
  display: inline-block;
}

.black {
  color: black;
}

.orange {
  color: #f50;
}

a:hover {
  color: #f50;
  cursor: pointer;
}
}
.pod-container {
  width: 310px;
  height: 330px;
  display: flex;
  float: left;
  position: relative;
  .user-pod-img {
    width: 250px;
    height: 250px;
    position: absolute;
    align-self: center;
    display: inline-block;
    left: 10%;
  }
  img {
    width: 250px;
    height: 250px;
  }
  .user-pod-title {
    font-family: 'Zilla Slab Highlight', sans-serif;
    color: black;
    font-weight: bold;
    margin: 0 auto;
    align-self: flex-end;
  }
}
